@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Rua dos Vitoriosos<br />
    São Paulo, SP<br />
    <a> <img src="http://icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/24/Mobile-2-icon.png" /> 11 948325136 </a> <br />
    <a target="_blank" rel="noopener noreferrer" href="http://api.whatsapp.com/send?1=pt_BR&phone=5511948325136"> <img src="http://icons.iconarchive.com/icons/dtafalonso/android-l/24/WhatsApp-icon.png" /> Meu Whats  </a>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:alessandro_bernardo@gmail.com">alessandro_bernardo@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:abernardos2012@gmail.com">abernardos2012@gmail.com</a>
</address>
