@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<body>
    @*<script type="text/javascript">
            window.onload = function () {
                getLocation();

            }
        </script>*@
    <p></p>
    <p id="demo"><b>Clique no botão para receber sua localização em Latitude e Longitude:</b></p>
    <button onclick="getLocation()">Sua Localização</button>

    <script>

        var x = document.getElementById("demo");

        var lat = "";
        var long = "";

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            }
            else { x.innerHTML = "O seu navegador não suporta Geolocalização."; }

        }

        function showPosition(position) {
            lat = position.coords.latitude;
            long = position.coords.longitude;
            x.innerHTML = "Latitude: " + lat +
                "<br>Longitude: " + long;

            //$.getJSON('Users/GetLocFriends?origLat=' + lat + "&origLong=" + long, function (data) {
            //    console.log(data);

            //})
        };

        function GetLocFriendsJs() {
            if (lat != "") {
                window.location = "Users/GetLocFriends?origLat=" + lat + "&origLong=" + long;
            }
            else {
                alert("Primeiro clique acima para obter sua localização");
                return;
            }
        }

        function Create() {
            window.location = "Users/Create";
        }

    </script>
    <p></p>
    <button onclick="GetLocFriendsJs()">Amigos próximos</button>
    <p></p>
    <button onclick="Create()"> Cadastro </button>

</body>
</html>